/* Kontakt */

#wpcf7-f71-p20-o1 {
    width: 100%;
    max-width: 320px;
  }
  
  #wpcf7-f376-p192-o1 input {
    width: 50%;
    text-shadow: 1px 1px 1px #000;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    background: url("../images/bg_noise_dark.gif");
    box-shadow: inset 2px 2px 4px #222;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
  }
  
  #wpcf7-f71-p20-o1 input {
    width: 86%;
    text-shadow: 1px 1px 1px #000;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    background: url("../images/bg_noise_dark.gif");
    box-shadow: inset 2px 2px 4px #222;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
  }
  
  #wpcf7-f376-p192-o1 textarea {
    width: 50%;
    text-shadow: 1px 1px 1px #000;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    background: url("../images/bg_noise_dark.gif");
    box-shadow: inset 2px 2px 10px #222;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    resize: none;
  }
  
  #wpcf7-f71-p20-o1 textarea {
    width: 86%;
    text-shadow: 1px 1px 1px #000;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    background: url("../images/bg_noise_dark.gif");
    box-shadow: inset 2px 2px 10px #222;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    resize: none;
  }
  
  #wpcf7-f71-p20-o1 input[type="submit"] {
    clear: both;
    width: 92%;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #000;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: #fff !important;
    text-shadow: 1px 1px 1px #000;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    background: #333;
    transition: all 0.1s ease; /* explorer 10 */
    -webkit-transition: all 0.1s ease; /* chrome & safari */
    -moz-transition: all 0.1s ease; /* firefox */
    -o-transition: all 0.1s ease; /*opera */
  }
  
  #wpcf7-f376-p192-o1 input[type="submit"] {
    clear: both;
    width: 50%;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #000;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: #fff !important;
    text-shadow: 1px 1px 1px #000;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    border-left: 1px solid #444;
    border-top: 1px solid #444;
    background: #333;
    transition: all 0.1s ease; /* explorer 10 */
    -webkit-transition: all 0.1s ease; /* chrome & safari */
    -moz-transition: all 0.1s ease; /* firefox */
    -o-transition: all 0.1s ease; /*opera */
  }
  
  #wpcf7-f71-p20-o1 input[type="submit"]:hover {
    background: #ff6600;
    text-shadow: 1px 1px 1px #000;
    border-right: 1px solid #ff822e;
    border-bottom: 1px solid #ff822e;
    border-left: 1px solid #c95100;
    border-top: 1px solid #c95100;
    cursor: pointer;
    transition: all 0.1s ease; /* explorer 10 */
    -webkit-transition: all 0.1s ease; /* chrome & safari */
    -moz-transition: all 0.1s ease; /* firefox */
    -o-transition: all 0.1s ease; /*opera */
  }
  
  #wpcf7-f376-p192-o1 input[type="submit"]:hover {
    background: #ff6600;
    text-shadow: 1px 1px 1px #000;
    border-right: 1px solid #ff822e;
    border-bottom: 1px solid #ff822e;
    border-left: 1px solid #c95100;
    border-top: 1px solid #c95100;
    cursor: pointer;
    transition: all 0.1s ease; /* explorer 10 */
    -webkit-transition: all 0.1s ease; /* chrome & safari */
    -moz-transition: all 0.1s ease; /* firefox */
    -o-transition: all 0.1s ease; /*opera */
  }