/* Header */
#top {
  background: url("../images/bg_top.png") repeat-x top left;
  width: 100%;
  height: 146px;
  margin: 0 0 -10px 0;
  position: relative;
  z-index: 3;
}

#top_content {
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

#top_navigation {
  float: right;
  margin: 10px 0 0 0;
}

#top_navigation a {
  color: #9e9e9e;
}

#top_navigation a:hover {
  text-decoration: underline;
}

#top_navigation ul li {
  display: inline;
  margin-right: 20px;
}

#top_navigation ul li:last-child {
  margin-right: 0px;
}

/* Logo */
.hog_logo {
    width: 299px;
    height: 189px;
    background: url("../images/hog_logo.png") no-repeat;
    position: absolute;
    left: 0px;
    top: -120px;
    z-index: 3;
    background-size: 299px auto;
  }