/* Navigation */

#navigation {
    float: right;
    position: relative;
    top: 33px;
    min-width: 900px;
  }
  
  #navigation ul li {
    display: inline;
  }
  
  #navigation ul li a {
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    width: 160px;
    height: 29px;
    float: right;
    background: url("../images/menu_seperator.png") no-repeat bottom left;
    padding: 28px 0 0 0;
    text-align: center;
  }
  
  #navigation ul li a:hover {
    text-shadow: 0px 0px 10px #fff;
    background: url("../images/bg_menu_hover.png") repeat-x bottom left;
  }
  
  #navigation .current-menu-item a {
    text-shadow: 0px 0px 10px #fff !important;
    background: url("../images/bg_menu_hover.png") repeat-x bottom left !important;
  }
  
  #navigation .current-page-ancestor a {
    text-shadow: 0px 0px 10px #fff !important;
    background: url("../images/bg_menu_hover.png") repeat-x bottom left !important;
  }
  
  #top_navigation .current-menu-item a {
    font-family: "roboto_bold";
    color: #fff;
  }
  
  #top_navigation .current-page-ancestor a {
    font-family: "roboto_bold";
    color: #fff;
  }

  /* Toogle Menu */

#toggle {
  margin: 30px auto 30px auto;
  width: 90%;
  display: none;
}

#toggle select {
  border: none;
  box-shadow: 0px 0px 5px #000;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
  background: #333 url("../images/toggle.png") no-repeat right;
  padding: 12px;
  line-height: 1em;
  font-size: 1.2em;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

.pagenav {
  list-style: none;
  background: url("../images/footer_arrow.png") 0 3px no-repeat;
  padding: 0 0 0 15px;
  font-family: "roboto_bold";
}